.spinner-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide up/down arrows for input type=number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.animal-table {
  width: 100%;

  tr:hover {
    background: whitesmoke;
  }

  ::ng-deep tr {
    .mat-form-field-infix {
      width: auto;
    }

    th {
      white-space: nowrap;
    }

    th, td {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

.add-table-row {
  padding: 15px;

  .checkbox-label {
    margin-right: 5px;
  }
}
