<ng-container *ngIf="loading; else dataTableBlock">
  <div class="spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>
<ng-template #dataTableBlock>
  <table mat-table [dataSource]="data" class="animal-table">
    <ng-container matColumnDef="triggerDelete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button
                color="warn"
                (click)="deleteRow(row)">Delete</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="triggerEditSave">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.editMode; else saveBtn">
          <button mat-raised-button
                  (click)="editRow(row)"
                  [disabled]="isEditButtonsDisabled()">Edit</button>
        </ng-container>
        <ng-template #saveBtn>
          <button mat-raised-button
                  color="primary"
                  (click)="saveRow(row)">Save</button>
        </ng-template>
      </td>
    </ng-container>
<!--    Non-editable fields-->
    <mat-text-column name="cowId" headerText="Cow id" class="abc"></mat-text-column>
    <mat-text-column name="animalId" headerText="Animal id"></mat-text-column>
    <mat-text-column name="eventId" headerText="Event id"></mat-text-column>
    <mat-text-column name="currentGroupId" headerText="Current group id"></mat-text-column>
    <mat-text-column name="newGroupId" headerText="New group id"></mat-text-column>
<!--    Editable fields-->
    <ng-container *ngFor="let columnDef of editableColumnDefinitions" [matColumnDef]="columnDef.name">
      <th mat-header-cell *matHeaderCellDef>{{columnDef.headerText}}</th>
      <td mat-cell *matCellDef="let element">
<!--        Edit mode-->
        <ng-container *ngIf="element.editMode; else viewModeBlock">
          <!--         Number field in edit mode-->
          <ng-container *ngIf="columnDef.type === 'number'">
            <mat-form-field>
              <input matInput [(ngModel)]="element[columnDef.name]" type="number">
            </mat-form-field>
          </ng-container>
          <!--        String field in edit mode-->
          <ng-container *ngIf="columnDef.type === 'string'">
              <mat-form-field>
                <input matInput [(ngModel)]="element[columnDef.name]">
              </mat-form-field>
          </ng-container>
          <!--        Boolean field in edit mode-->
          <ng-container *ngIf="columnDef.type === 'boolean'">
              <mat-checkbox [(ngModel)]="element[columnDef.name]">
              </mat-checkbox>
          </ng-container>
        </ng-container>
<!--        View mode-->
        <ng-template #viewModeBlock>
          <!--        Boolean field in view mode-->
          <ng-container *ngIf="columnDef.type === 'boolean'; else numberStringViewBlock">
            <mat-checkbox [(ngModel)]="element[columnDef.name]" disabled>
            </mat-checkbox>
          </ng-container>
          <!--        String, number fields in view mode-->
          <ng-template #numberStringViewBlock>{{element[columnDef.name]}}</ng-template>
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-template>
